/venv/
.idea/
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/pyCaptainsLog.iml
.idea/vcs.xml
.ipynb_checkpoints
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/constants.cpython-310.pyc
__pycache__/model_loading.cpython-310.pyc
__pycache__/starsystem.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/random_generators.cpython-310.pyc
__pycache__/ship.cpython-310.pyc
__pycache__/universe.cpython-310.pyc
.env
